<div class="row justify-content-between">
  <div class="col-xs-7">
    &nbsp;<i>{{.Site.Params.tagline}}</i>
  </div>
  <div class="col-xs-5 float-right">
    <a href="https://twitter.com/COAR_eV" title="Twitter" name="Twitter">
      <img class="header-icon" src="/theme_images/icons/twitter.png"/>
    </a>
    <a href="https://github.com/coar-repositories/ngr" title="Github" name="Github">
      <img class="header-icon" src="/theme_images/icons/github.png"/>
    </a>
  </div>
</div>
<div class="row justify-content-between" id="header">
  <div class="col-xs-6">
    <a href="/">
      <img class="home-page-logo coar-logo" src="/images/coar-logo.png"/>
    </a>
  </div>
  <div class="col-xs-6 float-right">
    <a href="/">
      <img class="home-page-logo ngr-logo" src="/images/ngr-logo-lowres.png"/>
    </a>
  </div>
</div>
